.activityContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.activityCardWrapper {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
}

.activityCard {
  background-color: #1f1f2b;
  border-radius: var(--border-radius-large);
  padding: 1em;
  width: fit-content;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transform: scale(0.98);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.activityCard:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.5);
}

.activityCardInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.activityItem {
  margin-bottom: 0.5em;
}

.imageContainer {
  position: relative;
  margin-bottom: 0.5em;
}

.activityLargeImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: transform 0.4s ease-in-out;
}

.activityLargeImage:hover {
  transform: scale(1.1);
}

.activitySmallImage {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 70px;
  left: 70px;
  border-radius: 50%;
  border: 3px solid #121212;
  transition: transform 0.3s ease;
}

.activitySmallImage:hover {
  transform: scale(1.1);
}

.activityName {
  font-size: 1.4em;
  color: #3498db;
  margin: 0.5em 0;
  font-weight: 600;
}

.activityDetails,
.activityState,
.activityTime {
  color: #95a5a6;
  margin: 0.2em 0;
  opacity: 0.85;
}

.activityTime {
  font-weight: 600;
  color: #16a085;
}

.status {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-top: 0.5em;
  color: #d3d3d3;
  text-transform: uppercase;
}

.status span {
  color: #d3d3d3;
}

@media (max-width: 768px) {
  .activityContainer {
    padding: 0.5em;
  }

  .activityCardWrapper {
    gap: 0.5em;
  }

  .activityCard {
    width: 100%;
  }

  .activityLargeImage {
    width: 80px;
    height: 80px;
  }

  .activitySmallImage {
    width: 30px;
    height: 30px;
    top: 55px;
    left: 55px;
  }
}

@media (max-width: 480px) {
  .activityName {
    font-size: 1.2em;
  }

  .activityDetails,
  .activityState,
  .activityTime {
    font-size: 0.9em;
  }

  .activityLargeImage {
    width: 60px;
    height: 60px;
  }

  .activitySmallImage {
    width: 20px;
    height: 20px;
    top: 40px;
    left: 40px;
  }
}
