.container {
    padding: 20px;
    font-size: 0.5rem;
    min-height: 80vh;
  }
  
  .title {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .disclaimer {
    font-style: italic;
    margin-bottom: 20px;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  .sectionTitle {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .sectionContent {
    font-size: 1em;
  }