@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap');

.footer {
    color: #f1f1f1;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Red Hat Display', sans-serif;
    cursor: default;
    background-color: var(--footer-background-color);
}

.footer-copy {
    margin-top: 20px;
    font-size: 14px;
    font-family: 'Red Hat Display', sans-serif;
}

.footer-links {
    color: gray;
}

.footer-links a:hover {
    color: rgb(48, 167, 211) !important;
}

.anchor {
    color: white !important;
    display: block;
    font-size: 0.8rem;
    text-align: center;
    text-decoration: none;
    line-height: 1.5;
}
  
.anchor span:not(.spacer) {
    display: block;
}

.spacer {
    padding: 0 15px;
}

@media screen and (min-width: 768px) {
    .anchor span {
        display: inline !important;
    }
}