@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap');

.footer {
    color: #f1f1f1;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Red Hat Display', sans-serif;
    cursor: default;
}

.footer-copy {
    margin-top: 20px;
    font-size: 14px;
    font-family: 'Red Hat Display', sans-serif;
}