.devjourneyContainer {
    background-color: var(--card-background-color);
    backdrop-filter: blur(15px);
    margin: var(--margin-medium) var(--margin-large);
    padding: calc(2*var(--padding-medium)) calc(2*var(--padding-large));
    border-radius: var(--border-radius-large);
    font-size: 0.8em;
}

.breadcrumbContainer {
    display: flex;
    justify-content: flex-start;
    font-size: 0.8em;
    vertical-align: middle;
    align-items: center;
    justify-content: left;
    color: rgba(128, 128, 128, 0.462);
}

.breadcrumbContainer button {
    background-color: transparent;
    color: gray;
    border: none;
    box-shadow: none;
    border-radius: var(--border-radius-tiny);
    padding: 0 var(--padding-tiny);
    cursor: pointer;
    margin: auto 0;
    align-self: center;
    align-content: center;
}

.breadcrumbContainer button:hover {
    transform: translateY(0);
    color: darkgray;
}

.githubButtonContainer {
    display: flex;
    justify-content: flex-end;
}

.githubButtonContainer button {
    background-color: black;
}

.contentContainer {
    margin: var(--margin-medium) 0;
    padding: var(--padding-medium);
    border-radius: var(--border-radius-medium);
    background-color: var(--card-background-color);
    backdrop-filter: blur(15px);
    font-size: 18px;
}

.contentContainer h1,
.contentContainer h2,
.contentContainer h3,
.contentContainer h4,
.contentContainer h5,
.contentContainer h6,
.contentContainer p,
.contentContainer ul,
.contentContainer a {
    font-size: 0.9em;
}

.contentContainer .fileName {
    font-size: 0.8em;
    color: #aeaeae;
    margin-bottom: 10px;
}

.contentContainer .markdownContent {
    color: #f3f3f3d7;
}

.contentContainer .fileContent {
    color: white;
}

.dirMapContainer {
    width: 100%;
    padding: var(--padding-small) var(--padding-medium);
}

.dirMapContainer li {
    width: 100%;
}

.dirMapContainer li button {
    width: 100%;
    text-align: left;
    background-color: rgb(57, 55, 55);
}

.dirMapContainer li button svg {
    margin-right: 15px;
}