.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.hero-image {
  width: 100vw;
  height: fit-content;
  position: absolute;
  object-fit: cover;
  z-index: -1;
  opacity: 0.2;
  pointer-events: none;
  top: 0;
  left: 0;
}

.hero p {
  color: white;
  margin: 0;
  font-size: 1rem;
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

button.linkedin-button {
  background-color: #0662be;
}

button.github-button {
  background-color: black;
}

button.instagram-button {
  background-color: #f223d8;
}

button.facebook-button {
  background-color: #0966ff;
}

button.pinterest-button {
  background-color: #e20123;
}

@media screen and (min-width: 768px) {
  .hero {
    gap: 60px;
    height: 100vh;
  }

  .hero p {
    font-size: 1.3rem;
  }
}
