.footer {
    color: var(--footer-color);
    background-color: var(--footer-background-color);
    padding: var(--padding-small) var(--padding-large);
    align-items: center;
    text-align: center;
    font-size: 16px;
}

.footer a {
    color: white !important;
}