.services {
    background-color: var(--card-background-color);
    width: fit-content;
    padding: var(--padding-medium) var(--padding-large);
    border-radius: var(--border-radius-medium);
    text-align: center;
    align-items: center;
    vertical-align: middle;
    align-self: center;
    font-size: 1em;
}

.services .card {
    display: flex;
    flex-direction: row;
}

.services h3,
.services .card h4 {
    font-size: 2.5em;
}

.services .card h4 {
    transition: color 0.3s ease-in-out;
}

.services button {
    background-color: rgba(66, 66, 66, 0.366);
}

.services button svg {
    align-self: center;
    margin: auto;
    padding: auto;

}