.services {
    background-color: var(--card-background-color);
    width: fit-content;
    padding: var(--padding-small) var(--padding-medium);
    border-radius: var(--border-radius-medium);
    text-align: center;
    align-items: center;
    vertical-align: middle;
    align-self: center;
    font-size: 0.8em;
    transition: all 0.3s ease;
}

.services .card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
}

.services .card .content {
    text-align: center;
    align-content: center;
}

.services .card .content h4 {
    font-size: 1.5em;
    transition: color 0.3s ease-in-out;
    margin: 0;
    padding: 0;
}

.services .card .content h4 a {
    margin: 0;
    padding: 0;
    margin-left: 5px;
}

.services button {
    background-color: rgba(66, 66, 66, 0.366);
    margin-top: 15px;
    font-size: 0.8em;
    padding: 0.7em 0.7rem;
}

.services button svg {
    align-self: center;
    margin: auto;
    padding: auto;
}

.services .card img {
    background-color: rgba(21, 21, 21, 0.637);
    border-radius: 50%;
    padding: 15px;
    border: gray 2px outset;
    margin-right: 20px;
    transition: 0.3s ease-in-out;
}

.services .card img:hover {
    transform: rotate(10deg);
}

.services .controls {
    margin: 0;
    padding: 0;
    height: fit-content;
}