.header {
    color: #f1f1f1;
    padding: 20px;
    text-align: center;
    background-color: var(--header-background-color);
    backdrop-filter: blur(10px);
    cursor: default;
}

.header img {
    border-radius: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100px;
    height: 100px;
}

.header img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #3877b4;
}

.title {
    font-size: 2.5em;
    margin: 10px 0;
    color: #3877b4;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 20px 0 0 0;
    flex-wrap: wrap;
}

nav li {
    margin: 0 15px;
}

@media (max-width: 768px) {
    .header {
        padding: 15px;
    }

    .header img {
        width: 80px;
        height: 80px;
    }

    .title {
        font-size: 2em;
    }

    nav li {
        margin: 0 10px;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 10px;
    }

    .header img {
        width: 60px;
        height: 60px;
    }

    .title {
        font-size: 1.5em;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 10px 0;
    }
}