.container {
    background-color: var(--card-background-color);
    color: #e0e0e0;
    border-radius: var(--border-radius-medium);
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s ease, transform 0.3s ease, max-height 0.3s ease, border-color 0.4s ease-in-out;
    overflow: hidden;
    font-size: 0.9em;
    border: 1px solid black;
}

.container:hover {
    border-color: #17a2e0;
    background-color: #4040408e;
}

.container p {
    font-size: 0.8em;
}

.container summary {
    cursor: pointer;
    padding: 10px;
    border-bottom: 2px solid #444444;
    transition: color 0.3s ease, border-bottom-color 0.3s ease;
}

.container summary:hover {
    color: #1f8ef1;
    border-bottom-color: #1f8ef1;
}

.formGroup {
    margin: 15px 0;
}

.container input,
.container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #3535357d;
    border-radius: var(--border-radius-small);
    background-color: #8585858e;
    color: #e0e0e0;
    transition: border-color 0.3s ease;
    margin-top: 10px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease;
}

.container textarea {
    margin-top: 15px;
    max-width: 90%;
    max-height: 60px;
    min-width: 100%;
    min-height: min-content !important;
    border-radius: var(--border-radius-small) var(--border-radius-small) 0 var(--border-radius-small);
}

.container input:focus,
.container textarea:focus {
    border-color: #1f8ef1;
    outline: none;
}

.container input:hover,
.container textarea:hover {
    background-color: #a3a3a38e;
}

.button {
    background-color: #1f8ef1;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius-small);
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: inline-block;
    font-size: 0.7em;
}

.button:hover {
    background-color: #17a2e0;
    transform: scale(1.05);
}

.success {
    color: #28a745;
    margin-top: 10px;
}

.error {
    color: #dc3545;
    margin-top: 10px;
}

.characterCountExceeded {
    color: red;
}