.footer {
  background-color: #00000062;
  padding: 20px;
  text-align: center;
}

.anchor {
  color: #9c9c9c;
  text-decoration: none;
}

.anchor:hover {
  color: #007bff;
}

@media (max-width: 768px) {
  .footer {
    padding: 10px;
  }
}
