.footer {
  background-color: transparent;
  padding: 15px;
  text-align: center;
}

.anchor {
  color: #9c9c9c;
  text-decoration: none;
}

.anchor:hover {
  cursor:default;
}

@media (max-width: 768px) {
  .footer {
    padding: 10px;
  }
}
