.container {
  background-color: #5662f6;
  padding: 20px 30px;
  margin: 60px auto;
  width: fit-content;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  color: white !important;
}

.container:hover {
  transform: scale(1.05);
}

.status {
  font-size: 1.7rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: color 0.3s ease-in-out;
  margin-left: 20px;
  text-align: left;
}

.activities {
  background-color: rgba(240, 248, 255, 0.107);
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
  text-overflow: clip;
}

.activities:hover {
  background-color: rgba(240, 248, 255, 0.2);
}

.activity {
  display: flex;
  flex-direction: row;
  transition: transform 0.3s ease-in-out;
}

.activity:hover {
  transform: translateX(10px);
}

.imagecontainer {
  display: flex;
  flex-direction: row;
}

.largeImage {
  max-width: 50px;
  max-height: 50px;
  height: auto;
  width: auto;
  transition: transform 0.3s ease-in-out;
}

.largeImage:hover {
  transform: rotate(10deg);
}

.smallImage {
  margin-top: auto;
  max-width: 20px;
  max-height: 20px;
  height: 20px;
  transition: transform 0.3s ease-in-out;
}

.smallImage:hover {
  transform: rotate(-10deg);
}

p {
  margin: 5px;
}

.name {
  margin-left: 25px;
  transition: font-size 0.3s ease-in-out;
}

.details {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: font-size 0.3s ease-in-out;
}

.state {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  transition: font-size 0.3s ease-in-out;
}

.time {
  font-size: 0.7rem;
}

@media screen and (max-width: 768px) {
  .container {
    margin: inherit 20px !important;
    padding: 15px 20px;
  }

  .name {
    font-size: 1.1rem;
    margin-left: 10px;
  }

  .details {
    font-size: 0.8rem;
  }

  .state {
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 10px 15px;
  }

  .status {
    font-size: 1.5rem;
  }

  .name {
    font-size: 1rem;
    margin-left: 5px;
  }

  .details {
    font-size: 0.7rem;
  }

  .state {
    font-size: 0.8rem;
  }
}