.socialmediawork {
    text-align: center;
    color: #f8f9fa;
}

.socialmediawork ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.socialmediawork li {
    margin: 10px 0;
}

.socialmediawork .IITM-button {
    color: #d6a64f;
    background-color: #2a0908;
}

.socialmediawork .microsoftlearn-button {
    color: #171717;
    background-color: #f25022;
}

.socialmediawork .leetcode-button {
    color: black;
    background-color: #ffab1d;
}

.socialmediawork .gravatar-button {
    background-color: #4578ea;
}

.socialmediawork .devfolio-button {
    background-color: #3670ff;
}

.socialmediawork .amazonmusic-button {
    color: black;
    background-color: #23d1da;
}

/* Responsive styles */
@media (max-width: 1200px) {
    .socialmediawork ul {
        gap: 10px;
    }

    .socialmediawork button {
        font-size: 1rem;
        padding: 10px 20px;
    }
}

@media (max-width: 768px) {
    .socialmediawork ul {
        gap: 8px;
    }

    .socialmediawork button {
        font-size: 0.9rem;
        padding: 8px 18px;
    }
}

@media (max-width: 480px) {
    .socialmediawork ul {
        gap: 5px;
        flex-direction: column;
        align-items: center;
    }

    .socialmediawork button {
        font-size: 0.8rem;
        padding: 6px 15px;
        width: 100%;
    }
}