.hero {
    font-family: 'Roboto Mono', monospace;
    color: #f1f1f1;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    cursor: default;
    border-radius: var(--border-radius-medium);
}

.hero h3 {
    font-size: 1.5em;
}

.card {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--card-background-color);
    border: 1px solid #333;
    border-radius: var(--border-radius-large);
    padding: 20px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.4s ease-in-out;
    scroll-snap-align: center;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    border-color: #3b3b3b;
}

.card p {
    margin: 10px 0;
}

.card a {
    color: #1e90ff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.card a:hover {
    color: #00bfff;
}

@media (max-width: 768px) {
    .hero {
        padding: 20px 10px;
        font-size: 0.875em;
    }

    .card {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .hero {
        padding: 15px 5px;
        font-size: 0.75em;
    }

    .card {
        padding: 15px;
        width: 100%;
    }
}