.container {
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--card-background-color);
    border-radius: var(--border-radius-medium);
}

.heading {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 40px;
    color: #f5f5f5;
}

.projectsWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projectCard {
    background-color: rgba(50, 50, 50, 0.8);
    border-radius: var(--border-radius-small);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.projectCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

.iconWrapper {
    text-align: center;
    margin-bottom: 10px;
}

.icon {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.projectName {
    font-size: 1.2em;
    font-weight: 600;
    margin: 10px 0;
    text-align: center;
    color: #f5f5f5;
}

.description {
    font-size: 0.9em;
    color: #c0c0c0;
    text-align: center;
    margin-bottom: 20px;
}

.linksSection,
.packagesSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    font-size: 0.8em;
}

.container button {
    font-size: 0.8em;
    position: relative;
    overflow: hidden;
    height: 3em;
    padding: 0 2em;
    border-radius: 1.5em;
    background: var(--primary-color);
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
}

.container button:hover::before {
    transform: scaleX(1);
}

.container button-content {
    position: relative;
    z-index: 1;
}

.container button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(82.3deg,
            transparent 10.8%,
            rgba(255, 255, 255, 0.113) 94.3%);
    transition: all 0.475s;
}