.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #2a2a2aa3;
    border-radius: var(--border-radius-large);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

p {
    color: #f1f1f1;
    font-size: 1rem;
    margin: 10px 0;
}

.homeButton {
    background-color: rgba(100, 100, 100, 0.24);
    border: 3px solid transparent;
    padding: 10px 20px;
    color: #f1f1f1;
    font-size: 1rem;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.homeButton:hover {
    background-color: rgba(100, 100, 100, 0.5);
    border-color: rgba(100, 100, 100, 0.5);
}