.card {
    background-color: rgba(70, 70, 70, 0.435);
    max-width: 80;
    width: fit-content;
    border-radius: 50px;
    margin-top: 50px !important;
    color: white;
}

.icon {
    margin-top: 50px;
    font-size: 50px;
}