.footer {
  background-color: rgba(49, 49, 49, 0.211);
  padding: 15px;
  text-align: center;
  height: fit-content;
  width: 100vw;
  margin: 0;
}

@media (max-width: 768px) {
  .footer {
    padding: 10px;
  }
}
