/* Base styles */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  max-height: min-content;
  padding-bottom: 40px;
}

.hero p {
  color: white;
  margin: 0;
  font-size: 1rem;
}

h1 {
  padding-bottom: 40px;
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 24px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

button {
  padding: 10px 30px !important;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Button specific styles */
button.linkedin-button {
  background-color: #0662be;
}

button.github-button {
  background-color: black;
}

button.microsoftlearn-button {
  background-color: #f25022;
}

button.leetcode-button {
  background-color: #ffab1d;
}

button.discord-button {
  background-color: #525eeb;
}

button.IIT-M-button {
  background-color: #2a0908;
  color: #d6a64f;
}

button.gravatar-button {
  background-color: #4578ea;
}

button.instagram-button {
  background-color: #f223d8;
}

button.facebook-button {
  background-color: #0966ff;
}

button.pinterest-button {
  background-color: #e20123;
}

/* Media queries for smaller devices */
@media screen and (max-width: 768px) {
  .hero {
    height: auto;
    padding: 40px 20px;
  }
  
  .hero p {
    font-size: 0.8rem;
  }

  .button-group {
    flex-direction: column;
    gap: 16px;
    width: 50%;
  }

  button {
    width: 100%;
    padding: 15px 25px !important;
  }
}
