.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c9d1d9;
    padding: 10px;
    border-radius: 35px;
    flex-direction: column;
    text-align: center;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.button-group a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #161b225d;
    color: #58a6ff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button-group a:hover {
    background-color: #21262d;
}

.button-group a:active {
    transform: scale(0.9);
}

@media (max-width: 768px) {
    .hero {
        padding: 20px;
    }

    .button-group a {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    .hero {
        padding: 15px;
    }

    .button-group a {
        width: 30px;
        height: 30px;
    }
}
