.personal {
    padding: var(--padding-medium);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    font-size: 16px;
}

.personal ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
}

.personal li {
    display: inline-block;
}

.personal a {
    color: #b0b0b0 !important;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 50%;
    background-color: #333;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid transparent;
}

.personal a:hover {
    background-color: #63b1ff40;
    color: #fff !important;
    border: 2px solid #1e90ff;
    box-shadow: 0 0 10px rgba(30, 144, 255, 0.6);
}


.personal a:active {
    color: #fff;
    background-color: #1e90ff;
    border: 2px solid #1e90ff;
    box-shadow: 0 0 8px rgba(30, 144, 255, 0.6);
}

.personal a:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(30, 144, 255, 0.6);
}

.personal .linkedin-button:hover {
    background-color: #0077b5;
    border: 2px solid #0077b5;
    box-shadow: 0 0 10px rgba(0, 119, 181, 0.6);
}

.personal .github-button:hover {
    background-color: black;
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.6);
}

.personal .discord-button:hover {
    background-color: #5765f2;
    border: 2px solid #5765f2;
    box-shadow: 0 0 10px #5765f2;
}

.personal .instagram-button:hover {
    background-color: #d103b6;
    border: 2px solid #d103b6;
    box-shadow: 0 0 10px #d103b6;
}

.personal .facebook-button:hover {
    background-color: #3b5998;
    border: 2px solid #3b5998;
    box-shadow: 0 0 10px rgba(59, 89, 152, 0.6);
}

@media (max-width: 1024px) {
    .personal ul {
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .personal ul {
        flex-direction: row;
        gap: 15px;
    }
}

@media (max-width: 480px) {
    .personal a {
        font-size: 24px;
        padding: 10px;
    }
}