.header {
    background-color: var(--header-background-color);
    padding: 0 var(--padding-large);
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    top: 0;
    backdrop-filter: blur(20px);
    z-index: 1000;
    width: 100%;
    max-height: 70px;
}

.header img {
    align-self: center;
    height: calc(100% - 60px) !important;
    object-fit: cover;
    object-position: center;
}


@media (max-width: 1200px) {
    .header {
        flex-direction: column;
        display: block;
    }
}