.header {
    background-color: var(--header-background-color);
    display: flex;
    padding: var(--padding-medium);
    height: fit-content;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 20px;
    top: 0;
    z-index: 1000;
    flex-wrap: wrap;
}

.icon {
    margin-right: 0;
}

.icon img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.text h1 {
    margin-left: 0;
    color: white;
    font-size: 1.8em;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        gap: 10px;
    }

    .text h1 {
        font-size: 1.5em;
    }

    .icon img {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    .text h1 {
        font-size: 1.2em;
    }

    .icon img {
        width: 30px;
        height: 30px;
    }
}
