.header {
    background-color: var(--header-background-color);
    padding: 0 var(--padding-large);
    display: flex;
    justify-content: center;
    vertical-align: middle;
    gap: 30px;
    position: fixed;
    backdrop-filter: blur(10px);
    z-index: 1000;
    width: 100vw;
}

.header img {
    align-self: center;
}