@font-face {
  font-family: 'RedHatDisplay';
  src: url('./fonts/RedHatDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --background: url('/background/bg8.svg') no-repeat center center fixed;

  --header-background-color: rgba(0, 0, 0, 0.7);
  --footer-background-color: transparent;

  --border-radius-tiny: 5px;
  --border-radius-small: 15px;
  --border-radius-medium: 25px;
  --border-radius-large: 30px;

  --padding-small: 15px;
  --padding-medium: 20px;
  --padding-large: 30px;

  --margin-small: 15px;
  --margin-medium: 25px;
  --margin-large: 40px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 24px;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  line-height: inherit;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 0;
  background-position: center center;
  font-size: 16px;
  font-family: 'RedHatDisplay', sans-serif;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--background);
  z-index: -1;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* HEADINGS ------------------------------------- */
h1,
h2,
h3 {
  color: white;
  margin: 0;
}

h1 {
  font-size: 3.2rem;
  text-align: center;
}

h1 .highlight,
h3 .highlight {
  color: var(--qwik-light-blue);
}

h2 {
  font-weight: 400;
  font-size: 2.4rem;
}

h2 .highlight {
  font-weight: 700;
}

h3 {
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 3.4rem;
  }

  h3 {
    font-size: 3rem;
  }
}

/* TAGS ----------------------------------------- */
a {
  color: var(--link-text-color) !important;
  transition: color 0.2s ease-in-out;
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color) !important;
}

code {
  background: rgba(230, 230, 230, 0.3);
  border-radius: 4px;
  padding: 2px 6px;
}

ul {
  margin: 0;
  padding-left: 20px;
}

/* CONTAINER ------------------------------------ */
.container {
  margin: 0 auto;
  padding: 30px 40px;
}

.container.container-purple {
  background: var(--qwik-light-purple);
}

.container.container-dark {
  background: var(--qwik-dark-background);
  color: var(--qwik-dark-text);
}

.container.container-center {
  text-align: center;
}

.container.container-spacing-xl {
  padding: 50px 40px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 60px 80px;
  }

  .container.container-spacing-xl {
    padding: 100px 60px;
  }

  .container.container-flex {
    display: flex;
    justify-content: center;
    gap: 60px;
  }
}

button {
  display: inline-block;
  width: max-content;
  height: 40px;
  padding: 8px 16px;
  font-size: 1.1em;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #171717a2;
  border: none;
  border-radius: var(--border-radius-tiny);
  cursor: pointer;
  transition: all 0.4s;
  outline: none;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  margin: 5px;
}

button:hover {
  transform: translateY(-1px);
  box-shadow: 0 1px 0 -2px #f85959,
    0 5px 0 -4px #39a2db,
    0 6px 10px -3px #39a2db;
}

button:focus {
  box-shadow: 0 0 0 3px rgba(136, 136, 136, 0.233),
    0 4px 10px rgba(0, 0, 0, 0.5);
}

button:active {
  transition: all 0.2s;
  transform: translateY(-5px);
  box-shadow: 0 2px 0 -2px #f85959,
    0 8px 0 -4px #39a2db,
    0 12px 10px -3px #39a2db;
  background-color: #1c1c2a;
}

@media (max-width: 768px) {
  button {
    width: auto;
    padding: 10px 20px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  button {
    width: auto;
    padding: 8px 16px;
    font-size: 0.8rem;
  }
}

button:focus-visible {
  outline: 2px solid #1e90ff;
  outline-offset: 2px;
}

/* SCROLLBAR STYLES ----------------------------- */
::-webkit-scrollbar {
  display: none;
}