:root {
    --header-background-color: rgba(0, 0, 0, 0.7);
    --footer-background-color: transparent;

    --border-radius-small: 15px;
    --border-radius-medium: 25px;
    --border-radius-large: 30px;

    --padding-small: 15px;
    --padding-medium: 25px;
    --padding-large: 40px;

    --margin-small: 15px;
    --margin-medium: 25px;
    --margin-large: 40px;
}

body {
    padding: 0;
    margin: 0;
    line-height: inherit;
    background-image: url("./media/background/bg4.svg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 0;
    background-position: center center;
    font-size: 16px;
    height: 100vh;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: -1;
}